<div class="container">

<%= form_for @sea do |f|  %>

  <%= f.label :name %>
  <%= f.text_field :name,:class => 'form-control'%>

  <%= f.label :temperature %>
  <%= f.number_field :temperature,:class => 'form-control' %>

  <%= f.label :bio %>
  <%= f.text_area :bio,:class => 'form-control' %>

  <%= f.label :image_url %>
  <%= f.text_field :image_url,:class => 'form-control' %>

  <%= f.label :mood %>
  <%= f.text_field :mood,:class => 'form-control' %>

  <%= f.label :favorite_color %>
  <%= f.text_field :favorite_color,:class => 'form-control' %>

  <%= f.label :scariest_creature,:class => 'form-control' %>
  <%= f.text_field :scariest_creature,:class => 'form-control' %>

  <%= f.label :has_mermaids,:class => 'form-control' %>
  <%= f.check_box :has_mermaids,:class => 'checkbox' %>

  <%=  f.submit :class => 'btn btn-info',:class => 'btn-info', :style => 'margin: 1em' %>

  <% end %>
  </div>
